* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: brown;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > h1 {
  color: white;
}

.Entry-card {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Entry-img-container {
  width: 120px;
  height: 160px;
  overflow: hidden;
  flex-shrink: 0;
}

.Entry-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.Entry-Content-container {
  padding: 2rem 1rem;
  width: 360px;
}

.Entry-Content-container span {
  margin-right: 1rem;
}

footer {
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
  padding: 2rem;
  margin-top: 1rem;
  text-align: center;
}
