.contract-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: center;
}

.card {
  border: 1px solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 1rem;
  margin: 1.2rem;
}

.card > img {
  border-radius: 10px;
  height: 160px;
  width: 240px;
  object-fit: cover;
}
