.chefAddingredContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.chefAddingredContainer > button {
  display: flex;
  padding: 0.5rem 1.3rem;
  align-items: center;
  background-color: #15152e;
  color: white;
  border-radius: 6px;
  border: none;
  &::before {
    content: "+";
    margin-right: 5px;
  }
}

.chefAddingredContainer > input {
  flex-grow: 1;
  height: 1.8rem;
  min-width: 200px;
  max-width: 400px;
  padding: 2px 12px;
  border-radius: 5px;
  border: 1px solid #9a9a9a;
}
