.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 10px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.container > div {
  padding: 10px;
}

.chefRecipeButton {
  font-size: 1rem;
  padding: 8px;
  margin-right: 10px;
  background-color: orange;
  color: white;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 6px;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: wait;
  }
}
